body {
  background-color: rgb(235, 200, 107);
}

#header {
  background-color: rgb(235, 185, 48);
}

#form-section{
  background-color: rgb(235, 185, 48);
}

.btn {
  margin-bottom: 15px;
}

.burger-display{
  /* margin-bottom: 15px; */
}